# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# Node
node_modules
.next

# Python
backend/venv
__pycache__
*.pyc

# Uploaded Images
backend/uploads/*

# macOS
.DS_Store

# Logs
*.log

# Environment
.env
.env.local

# ==========================
# AI Model Files
# ==========================

backend/model/saved_model/
backend/model/saved_model.zip
backend/model/psoriasis_model.keras
backend/model/history.pkl